# Maven
target/
*.class
*.jar
*.war
*.ear
*.nar

# Logs
logs/
*.log

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - Eclipse
.classpath
.project
.settings/
bin/

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.pid
spring-shell.log
